.list-item {
//  border: 1px solid @color-raw;
 background-color: @color-raw;
  color:@color-medium-well;
  font-size:1.1em;
  width: 200px;
  min-height: 250px;
  height: auto;
  padding: 15px;
  // padding-top:15px;
  margin: 2px;
  float: left;
  line-height: 1.2;
  text-align: left;
  font-weight: bold;
  // border-radius:5px;
  overflow: hidden;



}
@media screen and (max-width: 40em) {
  .list-item{width:43vw;min-height:200px; height:auto; padding:1vw; margin:0.2vw;}

}

.list-items {
  .font-s2;
  padding-top:20px;
  padding-left:15px;

  // Layout of list-item children
  .display(flex);
  .flex-wrap(wrap);
  height: 3rem;
  width: 100%;

  .checkbox {
    .flex(0, 0, 44px);
    cursor: pointer;
  }
  input[type="text"] { .flex(1); }
  .delete-item { .flex(0, 0, 3rem); }


  // Style of list-item children
  input[type="text"] {
    background: transparent;
    cursor: pointer;

    &:focus { cursor: text; }
  }

  .delete-item {
    color: @color-medium-rare;
    line-height: 3rem;
    text-align: center;

    &:hover { color: @color-primary; }
    &:active { color: @color-well; }
    .icon-trash { font-size: 1.1em; }
  }


  // Border between list items
  & + .list-item { border-top: 1px solid #f0f9fb; }

  // Checked
  &.checked {
    input[type="text"] {
      color: @color-medium-rare;
      text-decoration: line-through;
    }

    .delete-item { display: inline-block; }
  }

  // Editing
  .delete-item { display: none; }
  &.editing .delete-item { display: inline-block; }
}
