<template name="lessonShow">
    <div class="page lists-show">
        <nav class="js-title-nav">
            {{#if editing}}
                <form class="js-edit-form list-edit-form">
                    <input type="text" name="name" value="{{name}}">
                    <div class="nav-group right">
                        <a href="#" class="js-cancel nav-item"><span class="icon-close js-cancel" title="Cancel"></span></a>
                    </div>
                </form>
            {{else}}
                <div class="nav-group">
                    <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
                </div>

                <h1 class="js-edit-list title-page"><span class="title-wrapper">{{name}}</span> <span class="count-list">{{incompleteCount}}</span></h1>

                <div class="nav-group right">
                    <div class="nav-item options-mobile">
                        <select class="list-edit">
                            <option disabled selected>Select an action</option>
                            {{#if userId}}
                                <option value="public">Make Public</option>
                            {{else}}
                                <option value="private">Make Private</option>
                            {{/if}}
                            <option value="delete">Delete</option>
                        </select>
                        <span class="icon-cog"></span>
                    </div>
                    <div class="options-web">

                        {{#if isOwn}}
                            <a class="icon-add" href="{{pathFor 'newCard' _id=this._id}}"></a>
                            <a class="icon-edit" href="{{pathFor 'myLessonsEdit' _id=this._id}}"></a>
                            <a class="js-delete-list nav-item">
                                <span class="icon-trash" title="Delete Lesson"></span>
                            </a>
                        {{/if}}

                    </div>

                </div>
            {{/if}}

        </nav>


        <div>
            <br/>
            <br/>
            <br/>
            <br/>
            {{#if cardsReady}}
                {{#with _id}} {{! Establish new data context with only the '_id'
                          field. This way, when the 'incompleteCount' field
                          changes, we don't re-render the list contents }}
                    <div id="carousel">
                        {{#each cards this}}
                            {{> cardItem}}
                        {{else}}
                            <div class="wrapper-message">
                                <div class="title-message">No cards here</div>
                                <div class="subtitle-message">Add new cards using the field above</div>
                            </div>
                        {{/each}}
                    </div>
                {{/with}}
            {{else}}
                <div class="wrapper-message">
                    <div class="title-message">Loading cards...</div>
                </div>
            {{/if}}
        </div>
    </div>
</template>
