<template name="lessonsItem">
    <a href="{{pathFor 'lessonShow' _id=this._id}}">
        <div class="list-item">
            <div class="item-name">
                {{name}}
            </div>
            <div class="item-likes">
                <span>{{likes}}</span> by <span>{{username}}</span>
            </div>
            <div></div>
            {{#if image}}
            <div class="img_box"><img src="{{image}}" /></div>
            {{else}}
                <!-- OK -->
            {{/if}}
        </div>
    </a>
</template>