<template name="myLessons">
    <div class="page lists-show">
        <nav class="js-title-nav">
            <div class="nav-group">
                <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
            </div>

            <h1 class="js-edit-list title-page"><span class="title-wrapper">{{name}}</span> <span class="count-list">{{incompleteCount}}</span></h1>

            <form class="js-search-bar search-bar input-symbol">
                <input type="text" placeholder="Search">
                <span class="icon-sync js-search"></span>
            </form>

            <div class="nav-group right">
                <div class="options-web">
                    <a class="js-add-lesson nav-item">
                        <span class="icon-add" title="New Lesson"></span>
                    </a>
                </div>
            </div>
        </nav>

        <div class="content-scrollable list-items container-fluid">
            {{#if lessonsReady}}
                {{#each lessons this}}
                    {{> lessonsItem}}
                {{else}}
                    <div class="wrapper-message">
                        <div class="title-message">No lessons here</div>
                        <div class="subtitle-message">Add new lesson using the field above</div>
                    </div>
                {{/each}}
            {{else}}
                <div class="wrapper-message">
                    <div class="title-message">Loading lessons...</div>
                </div>
            {{/if}}
        </div>
    </div>
</template>
